<ion-header>
  <ion-toolbar [ngClass]="{'blue': skinName==='blue','green': skinName==='green','orange': skinName==='orange'}">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" mode='ios'></ion-back-button>
    </ion-buttons>
    <ion-title>风险评估信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 下拉刷新组件 -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" refreshingSpinner="lines" mode='ios'>
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="detail_table" *ngIf="dataFlag">
    <ion-row justify-content-around>
      <ion-col class="left-text" size="6">报告标题：</ion-col>
      <ion-col class="right-text" style=" line-height: 22px;">{{riskAssessmentInfo.CENSUS_TITLE||"--"}}</ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class="left-text" size="6">报告编制单位：</ion-col>
      <ion-col class="right-text"  size="6">{{riskAssessmentInfo.CENSUS_UNIT||"--"}}</ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class="left-text" size="6">完成时间：</ion-col>
      <ion-col class="right-text"  size="6">{{(riskAssessmentInfo.CENSUS_END_TIME | date:"yyyy-MM-dd")?(riskAssessmentInfo.CENSUS_END_TIME | date:"yyyy-MM-dd"):"--"}}
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class="left-text" size="6">风险评估报告附件：</ion-col>
      <ion-col class="right-text" style=" line-height: 22px;"  size="6">
        <ion-list *ngIf="censusFileArr.length>0">
          <ion-item *ngFor="let item of censusFileArr" lines="none">
            <p class="down-line" size="small" color="tertiary" (click)="downFile(item)"> {{item.FILENAME}}</p>
          </ion-item>
        </ion-list>
        <p class="nofile" *ngIf="censusFileArr.length==0">暂无附件</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class="left-text" size="6">风险是否可接受：</ion-col>
      <ion-col class="right-text" style=" line-height: 22px;"  size="6">{{riskAssessmentInfo.ISACCEPT===1?"可接受":"否"}}；<span *ngIf="evidenceFileArr.length>0">证明材料：</span>
        <ion-list *ngIf="evidenceFileArr.length>0">
          <ion-item *ngFor="let item of evidenceFileArr" lines="none">
            <p class="down-line" size="small" color="tertiary" (click)="downFile(item)"> {{item.FILENAME}}</p>
          </ion-item>
        </ion-list>
        <p class="nofile" *ngIf="evidenceFileArr.length==0">暂无附件</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col class="left-text" size="6">公示网址：</ion-col>
      <ion-col class="right-text" style=" line-height: 22px;" size="6">
        <div *ngIf="historyEvilFileArr.CENSUS_PUBLIC_TYPE===1">新增项目: 
          <p class="down-line" (click)="openBrower(riskAssessmentInfo.CENSUS_PUBLIC_URL)">{{riskAssessmentInfo.CENSUS_PUBLIC_URL}}</p>
        </div>
        <div *ngIf="historyEvilFileArr.CENSUS_PUBLIC_TYPE===0">
          <p class="down-line" *ngFor="let item of historyEvilFileArr" size="small" color="tertiary" (click)="downFile(item)"> {{item.FILENAME}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!dataFlag" class="nodata">暂无数据，请稍后再试！</div>
</ion-content>