<ion-header>
  <ion-toolbar [ngClass]="{'blue': skinName==='blue','green': skinName==='green','orange': skinName==='orange'}">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" mode='ios'></ion-back-button>
    </ion-buttons>
    <ion-title>
      添加现场督察记录
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="dec-list">
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">监督管理标题</ion-col>
      <ion-col class="right-text" size="7">
        <ion-input [(ngModel)]="checkTitle" placeholder='请输入标题' maxlength=30></ion-input>
        <!-- <ion-textarea maxlength=30 [(ngModel)]="checkTitle" placeholder='请输入标题'></ion-textarea> -->
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">监督管理单位</ion-col>
      <ion-col class="right-text" size="7">
        <ion-input [(ngModel)]="checkUnit" placeholder='请输入管理单位' maxlength=30></ion-input>
        <!-- <ion-textarea maxlength=30 [(ngModel)]="checkUnit" placeholder='请输入管理单位'></ion-textarea> -->
      </ion-col>
    </ion-row>
    <ion-row align-items-center (click)="goEdit()">
      <ion-col class="left-text" size="5">监督管理附件</ion-col>
      <ion-col class="right-text" size="7">
        <!-- <span class="upLoadBtn" (click)="choose()">上传</span> -->
        <span class="arrow">
          <ion-icon name="arrow-forward" slot="end" mode="ios"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
    <ion-row align-items-center *ngIf="nowTime?true:false">
      <ion-col class="left-text" size="5">监督管理时间</ion-col>
      <ion-col class="right-text" size="7">
        <ion-input [(ngModel)]="nowTime"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="padding-10">
    <ion-row>
      <ion-col size="3" class="remark">
        <span> 督察情况</span>
      </ion-col>
      <ion-col size="9">
        <div class="textBox">
          <ion-textarea maxlength=30 [(ngModel)]="checkCondition" placeholder='请输入督察情况'></ion-textarea>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="fixedBox">
    <div class="btnBox">
      <span (click)="saveData()">暂存</span>
      <span (click)="upLoad()" [ngClass]="{'blue': skinName==='blue','green': skinName==='green','orange': skinName==='orange'}" >提交</span>
    </div>
  </div>
</ion-content>