
.scroll-content{padding-top:0px !important;}
.header-bg{ width: 100%; height: 150px;display: flex; align-items: center;position: relative;}
.bg_img{
    position: absolute;
    width: 100%;
    height:auto;
    bottom: 0;
    display: block;
}
.user-name{display: flex; align-items: center}
.header-con{ 
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0; 
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
   img{
    width: 15%;
    // left: 50%;
   }
}
.quit-btn{  width: 60%; line-height: 40px; height: 40px; background: #4162fb; color: #fff;border-radius: 3px; text-align: center; margin: 0 auto; margin-top: 50%;}
.icon{ 
    // color: #4162fb; 
    margin-right: 15px;
}
.label-ios{ font-size: 1.5rem}
.user-name{     color: #fff;
    line-height: 34px;
    margin: 0;}
.list-ios .item-block .item-inner,.list-ios > .item-block:last-child{ border-bottom-color: #fafafa}
.header-ios ion-toolbar:last-child{
    --border-width:0;
}
.margin-right-10{
    margin-right: 10px;
}

ion-list.blue{
    .icon{
        color:#20A4EC;
    }
}
ion-list.green{
    .icon{
        color:#00c393;
    }
}
ion-list.orange{
    .icon{
        color:#FFA500;
    }
}