.search-box{
    // background: #20a4ec;
    .searchbar-left-aligned{
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 12px;
        height: 44px;
        width: calc(100% - 50px);
        margin-top: 10px;
        --background: #f8f8f8;
        // --background:#fff;
    }
    
    .cancle-btn{
        vertical-align: middle;
        color: #20a4ec;
        // color: #fff;
        padding: 10px;
        font-size: 14px;
    }
}


.plot-list{
    width: 100%;
    margin-top: -10px;
    .list-lines-inset{
        padding: 0;
        .item{
            font-size: 14px;
            --inner-border-width: 0 0 0 0;
            // height: 35px; 
        }
    }
    .list-box{
        margin-top: 12px;
        border-top: 0.55px solid #f1f1f1;
        .item{
            color: #333;
            --inner-border-width: 0 0 0.55px 0;
            --border-color: #f4f4f4;
            height: auto;
            line-height: 1.6;
        }
        p{
            color: #222;
            font-weight: bold;
            margin-bottom: 8px;
        }
        span{
            color: #aaa;
        }
    }
    .close-btn{
        position: absolute;
        bottom: -1px;
        width: 100%;
        text-align: right;
        background: #f8f8f8;
        button{
            background: transparent;
            color: #666;
            padding: 10px;
            letter-spacing: 1px;
        }
    }
}
.list-box{
    padding: 0;
    .item{
        color: #333;
        font-size: 14px;
        --inner-border-width: 0 0 0.55px 0;
        --border-color: #f4f4f4;
        height: auto;
        line-height: 1.6;
    }
    p{
        color: #222;
        font-weight: bold;
        margin-bottom: 8px;
    }
    span{
        color: #aaa;
    }
}