<ion-content>
  <div class="search-box">
    <ion-searchbar [(ngModel)]="plotName" placeholder="请输入地块名称" mode="ios"
     (ngModelChange)="searchPlot()" (ionClear)="closePlotBox()"></ion-searchbar>
    <span class="cancle-btn" (click)="closeModal()">取消</span>
  </div>

  <div *ngIf="plotListShow" class="plot-list">
    <!-- <ion-list lines="inset" *ngIf="type=='tjfx'">
      <ion-item *ngFor="let item of plotList" (click)="selectPlot(item)">{{item.title}}</ion-item>
    </ion-list> -->

    <div *ngIf="type=='wrdk'">
      <!-- 污染列表 -->
      <ion-list lines="inset" class="list-box" *ngIf="dataType==='pollute'">
        <ion-item *ngFor="let item of dataList" (click)="goNextPage(item.SEEMINFO_ID)">
          <ion-label>
            <p>{{item.LANDNAME?item.LANDNAME:nodata}}</p>
          </ion-label>
          <ion-icon name="arrow-forward" slot="end" mode="ios"></ion-icon>
        </ion-item>
      </ion-list>

      <!-- 督察记录列表 -->
      <ion-list lines="inset" class="list-box" *ngIf="dataType==='inspection'">
        <ion-item *ngFor="let item of dataList" (click)="goNextPage(item.SEEMINFO_ID)">
          <ion-label>
            <p>{{item.LANDNAME?item.LANDNAME:'--'}}</p>
            <div *ngIf="item.SUPERVISENUM">
              <span>最新督查时间：</span>{{(item.CREATE_DATE | date:"yyyy-MM-dd")?(item.CREATE_DATE | date:"yyyy-MM-dd"):'--'}}
            </div>
            <div>
              <span>督察次数：</span>{{item.SUPERVISENUM}}
            </div>
          </ion-label>
          <ion-icon name="arrow-forward" slot="end" mode="ios"></ion-icon>
        </ion-item>
      </ion-list>
    </div>


  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>