ion-label{
    ion-text{
        b{
            font-size: 19px;
            line-height: 37px;
        }
        p{
            font-size: 16px;
            line-height: 26px;
            height: 26px;
        }
    }
    
}