
.top_head{
   // background: #20A4EC;
    padding-top: 9px;
    padding-bottom: 10px;
     height: 56px !important;
     border-top: 0.55px solid #fff
}

#top_tab{
    // --background: #4162fb;
    // --background-checked: white;
    --color:white;
    // --color-checked:#4162fb;
    
    --indicator-color:none;
    --indicator-color-checked:none;
    // --border-color: #fff;
    margin: 0 auto;
    width: 90%;
    height: 30px;
    margin-top: 4px;
    font-size: 16px !important;

}
.active{
    background-color: #fff;
}
.top_tab_item{
    min-height: 34px;
}
.top_head.blue{
    .active{
        ion-segment-button{
            color:#20A4EC;
        }  
    }   
}
.top_head.green{
    .active{
        .top_tab_item{
            color:#00c393;
        }
    }
}
.top_head.orange{
    .active{
        color:#FFA500;
    }
}

.top_head.green{
    .active{
        color:#00c393;
    }
}

.top_head.orange{
    .active{
        color:#FFA500;
    }
}

ion-segment-button{
    border: 0.55px solid #fff;
}

ion-segment-button:first-child{
    border-right: none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

ion-segment-button:last-child{
    border-left: none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.media-box{
    padding: 10px ;
}
.img-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .img-li:nth-child(3n),.img-li:nth-child(3n+2){
        margin-left:5px;
    }
}
.img-li{
    position: relative;
    margin-bottom:5px;
    ion-img{
        width: 100%;
        height: 100%;
    }
    .close-icon{
        position: absolute;
        right: 0;
        top:0;
        color: #fff;
        background: rgba(0,0,0,.3);
        border-radius: 50%;
    }
}
.video{
    width: 100%;
    height: 300px;
}
ion-header {
    ion-toolbar {
        //--background: #20A4EC;
        color: #fff;
        --min-height:56px;
    }
    ion-back-button {
        --color:#fff !important;
    }
    ion-button{
        color: #fff;
        font-size: 14px;
    }
    ion-title{
        font-weight: normal;
    }
}
.size{
    font-size: 14px;
}
.list-md{
    padding-top: 0;
    padding-bottom: 0;
}
