/* 详情列表通用样式 start*/
.dec-list{
    background: #fff;
    padding:10px 0 10px 13px;
    margin-bottom:20px;

    ion-row{
        line-height: 25px;
        border-bottom: .55px solid #ebebeb;
        min-height: 50px;
        padding-right: 10px;
    }
    .left-text{
        color: #9d9fa7;   
        font-size: 16px;
    }
    .right-text{  
        font-size: 16px;
        text-align: right;
        color:#333;
    }
}
ion-content{
    text-align: center;
    img{
        width: auto;
        height: 240px;
    }
}

ion-button{
    color: #fff;
    font-size: 16px;
}