/* 详情列表通用样式 start*/
.dec-list{
    background: #fff;
    padding: 0 10px 10px 10px;
    margin-bottom: 0px;
    ion-row{
        line-height: 25px;
        border-bottom: .55px solid #ebebeb;
        min-height: 50px;
        padding-right: 10px;
    }
    ion-row:last-child{
        border: none;
    }
    .left-text{
        color: #9d9fa7;   
        font-size: 14px;
    }
    .right-text{  
        font-size: 14px;
        text-align: right;
        color:#333;
    }
}

/* 详情列表通用样式 end*/

.splitArea{
    height:12px;
    background:rgb(239,239,239); 
}
.icon-img{
    width: 18px;
}

