<ion-header>
  <ion-toolbar [ngClass]="{'blue': skinName==='blue','green': skinName==='green','orange': skinName==='orange'}">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" mode='ios'></ion-back-button>
    </ion-buttons>
    <ion-title>地块基本信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 下拉刷新组件 -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" refreshingSpinner="lines" mode='ios'>
    </ion-refresher-content>
  </ion-refresher>

  <div class="splitArea"></div>
  <!-- <p class="p-title margin-10">地块信息</p> -->
  <ion-grid class="dec-list" *ngIf="dataFlag">
    <ion-row align-items-center>
      <ion-col class="left-text" size="6">地块基本信息法人名称（中文）：</ion-col>
      <ion-col class="right-text" size="6">{{baseInfo.CORPNAME || '--'}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">工商营业执照号：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.CREDITCODE || '--'}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">邮编：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.EMAIL || '--'}}</ion-col>
    </ion-row>
  </ion-grid>

  <div class="splitArea"></div>
  <ion-grid class="dec-list">
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">地块地址：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.ADDRESS||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">地块中心经纬度：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.LONGITUDE}}，{{baseInfo.LATITUDE}} <span ><img (click)="goMap()"  class="icon-img" src="../../../assets/img/index_location.png"/></span> </ion-col>
      <!-- |genPositionStr -->
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">坐标系说明：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.COORDINATESYSTEM||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">地块类型：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.landType||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="4">地块四至范围：</ion-col>
      <ion-col class="right-text" size="8" style="font-size:14px;">{{baseInfo.RANGE||"--"}}</ion-col>
    </ion-row>
  </ion-grid>

  <div class="splitArea"></div>
  <ion-grid class="dec-list">
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">法定代表人</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.LEGALPERSON||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">联系人：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.CONTACT||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">电话：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.PHONE||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">手机：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.MOBILE||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">E-mail：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.EMAIL||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="5">传真：</ion-col>
      <ion-col class="right-text" size="7">{{baseInfo.FAX||"--"}}</ion-col>
    </ion-row>
  </ion-grid>

  <div class="splitArea"></div>
  <ion-grid class="dec-list">
    <ion-row align-items-center>
      <ion-col class="left-text" size="6">地块管理模式：</ion-col>
      <ion-col class="right-text" size="6">{{baseInfo.landMgmodel||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="6">国控编码：</ion-col>
      <ion-col class="right-text" size="6">{{baseInfo.NATIONAL_CONTROL_CODE||"--"}}</ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="left-text" size="6">是否开发利用：</ion-col>
      <ion-col class="right-text" size="6">{{baseInfo.ISUSE===1?"是":"否"}}</ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!dataFlag" class="nodata">暂无数据，请稍后再试！</div>
</ion-content>